/* Footer.css */

.footer {
    background-color: #1A1A1A; /* Example color */
    color: #fff;
    padding: 50px 0;
  }
  
  .footer h6 {
    margin-bottom: 20px;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 0px;
  }
  .contact{
    /* border: solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: x-large;

    
  }
 

  
  @media (max-width: 768px) {
    .footer .container {
      text-align: center;
    }
  }
  