.main_tovisit{
    background-color: white;
    height: 100%;


.cards{
    display: grid;
place-items: center;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    gap: 4%;
    /* border: solid black; */
    max-height: max-content;
    margin-top: 1em;

    
  
}




}

.heading{
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
    color: grey;
    font-size: 24px;
    /* border: solid red; */
    text-align: center;
}